@import "./Defines.scss";

.header {
    & {
        width: 100%;
        height: fit-content;
        background-color: $primaryWhite;
        border-bottom: $baseBorder solid $primaryGray  !important;
        box-shadow: $baseBorder $baseBorder calc($border_radius) $primaryGray;
        position: sticky;
        top: 0;
        z-index: 10;

        input {
            display: none;
        }

        &>nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .checkbox1 {
                display: none;
            }

            a {
                color: $primaryBlack;
                padding: calc($baseRem * 1.1) 0;

                &:nth-child(2) {
                    font-size: calc($base_fontSize * 2);
                    font-weight: bolder;
                    color: $primaryBlue;

                    span {
                        color: $primaryGray;
                        text-shadow: $baseBorder $baseBorder calc($border_radius/2) $primaryBlue;
                    }
                }

                &:nth-child(3) {
                    text-align: center;
                    color: $primaryBlue;
                    font-size: calc($base_fontSize * 1.2);
                }

                &:last-child {
                    color: $primaryBlue;
                    font-size: $base_fontSize;
                }
            }
        }

        @include mediaQuery_max_width(700px) {
            &>nav {
                a {

                    &:nth-child(3),
                    &:last-child {
                        visibility: hidden;
                    }
                }

                .checkbox1 {
                    display: block;
                    position: absolute;
                    right: 2.5%;
                    width: 40px;
                    height: 5px;
                    background-color: $primaryBlue;
                    border-radius: $border_radius;

                    &::before {
                        content: "";
                        width: inherit;
                        height: 5px;
                        background-color: $primaryBlue;
                        position: absolute;
                        top: .5rem;
                        border-radius: inherit;
                    }

                    &::after {
                        content: "";
                        width: inherit;
                        height: 5px;
                        background-color: $primaryBlue;
                        position: absolute;
                        top: -.5rem;
                        border-radius: inherit;
                    }
                }
            }

            input[type="checkbox"] {
                &:checked {
                    &+nav {
                        background-color: gold !important;

                        a {

                            &:nth-child(2),
                            &:last-child {
                                visibility: visible;
                                position: absolute;
                                display: flex;
                                width: 100%;
                                height: 50vh;
                                background-color: green;
                                color: white;
                                font-size: 2rem;
                                place-content: center;
                            }

                            &:nth-child(2) {
                                top: 0;
                                left: 0;
                            }

                            &:last-child {
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.homeComponent {
    background-color: $primaryWhite;
    min-height: 100vh;

}

@keyframes bgChanger {
    0% {
        background-image: url(../img/img27.jpg);
    }

    25% {
        background-image: url(../img//img10.jpg);
    }

    50% {
        background-image: url(../img/img11.jpg);
    }

    75% {
        background-image: url(../img/img23.jpg);
    }

    100% {
        background-image: url(../img/img27.jpg);
    }
}

.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background: transparent !important;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img//img10.jpg);
        // animation: bgChanger 10s infinite;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    &>.container:not(.appointment) {
        h1 {
            font-size: calc($baseRem * 4);
            padding-top: $baseRem;
            color: $primaryBlue;

            &+p {
                color: $primaryBlue;
            }
        }
    }

}

.appointmentTable {
    h1 {
        font-size: calc($baseRem * 2);
        padding: $baseRem 0;
        color: $primaryBlue;
    }

    .appoitmentLists {
        width: 100%;
        overflow-x: auto;
        max-height: 350px;
        overflow-y: scroll;
        margin-bottom: calc($baseRem - .5rem);


        table {
            width: inherit;
            min-width: 1100px;
            border-radius: $border_radius;
            background-color: lighten($color: $primaryBlue, $amount: 10%);
            padding: $baseRem 0;
            color: white;

            th,
            tr,
            td {
                text-align: left;
                height: fit-content !important;
                background-color: $primaryBlue;
                padding: calc($baseRem /2.5) 0 calc($baseRem /2.5) calc($baseRem /2.5);

                button {
                    @include btn_base_style;
                    padding: $baseRem;

                    &:hover {
                        @include btn_base_style_hover;
                    }

                    &:active {
                        @include btn_base_style_active;
                    }

                }
                .completed, .notcompleted, .inprogress {
                    background-color: green;
                    padding: calc($baseRem/3);
                    margin: calc($baseRem/.5) 0;
                    border-radius: 5px;
                }
                .notcompleted {
                    background-color: #f6c23e;
                }
                .inprogress {
                    background-color: rgb(78, 115, 223);
                }
            }

            th {
                padding: $baseRem 0 $baseRem calc($baseRem /2.5);
                text-decoration: underline;
                position: sticky;
                top: 0;
                background-color: darken($color: $primaryBlue, $amount: 10%);
            }
        }
    }
}

.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    margin-top: -25vh;
    transform: translateY(50vh);

    h1 {
        color: white;
        padding: calc($baseRem) 0;
    }

    * a {
        color: white;
        text-decoration: underline;

        &:hover {
            color: darken($color: $primaryBlue, $amount: 20%);
        }
    }

    p {
        display: block;
        text-align: left;
        color: white;
    }

    form {
        width: calc(100% / 2);
        height: fit-content;
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;

        div {
            width: 100%;
            display: inherit;
            flex-direction: inherit;
            justify-content: inherit;
            color: white;
            font-size: 1.2rem;
            text-align: left;
            margin: calc($baseRem / 1.5);

            label,
            input,
            button,
            select {
                width: inherit;
                padding: calc($baseRem) 0;
                border-radius: 5px;
            }

            input {
                text-indent: calc($baseRem / 1.5);
            }

            button {
                background-color: lighten($color: $primaryBlue, $amount: 10%);
                box-shadow: .5px .5px 5px darken($color: $primaryBlue, $amount: 50%);
                font-size: calc($baseRem*1.2);
                color: white;

                &:hover {
                    background-color: darken($color: $primaryBlue, $amount: 20%);
                }
            }

            label {
                padding: 0 0 calc($baseRem) 0;
            }
        }
    }
}

.Registeration {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    margin-top: -25vh;
    padding-bottom: 1.5rem;
    transform: translateY(50vh);

    h1 {
        color: white;
        padding: calc($baseRem) 0;
    }

    * a {
        color: white;
        text-decoration: underline;

        &:hover {
            color: darken($color: $primaryBlue, $amount: 20%);
        }
    }

    p {
        display: block;
        text-align: left;
        color: white;
    }

    form {
        width: calc(100% / 2);
        height: fit-content;
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;

        div {
            width: 100%;
            display: inherit;
            flex-direction: inherit;
            justify-content: inherit;
            color: white;
            font-size: 1.2rem;
            text-align: left;
            margin: calc($baseRem / 1.5) 0;

            label,
            input,
            button,
            select {
                width: inherit;
                padding: calc($baseRem) 0;
                border-radius: 5px;
            }

            input {
                text-indent: calc($baseRem / 1.5);
            }

            button {
                background-color: lighten($color: $primaryBlue, $amount: 10%);
                box-shadow: .5px .5px 5px darken($color: $primaryBlue, $amount: 50%);
                font-size: calc($baseRem*1.2);
                color: white;

                &:hover {
                    background-color: darken($color: $primaryBlue, $amount: 20%);
                }
            }

            label {
                padding: 0 0 calc($baseRem) 0;
            }
        }

        .timeWrap {
            gap: $baseRem;
            flex-direction: row;

            &>div {
                flex-direction: column;
            }

            &+p {
                display: block;
                width: 100%;
                padding: 0 0 calc($baseRem) 0;
                font-size: calc($baseRem*1.2);
                color: white;
            }
        }
    }

    &.fullWidth {
        width: 100%;
    }

    .fullWidth {
        width: 100%;
    }
}

.wrapCheckers {
    display: inherit;
    flex-wrap: wrap;
    flex-direction: row !important;
    gap: 1px;

    label {
        background-color: $primaryBlue;
        border: calc($baseBorder) solid $primaryWhite  !important;
        width: fit-content !important;
        height: fit-content;
        text-align: center;
        padding: calc($baseRem/2) !important;
        margin-bottom: 5px;
    }

    input {
        visibility: hidden;
        z-index: -5;
        position: absolute;

        &:checked {
            &+label {
                background-color: $primaryWhite;
                color: $primaryBlue;
            }
        }
    }
}

.DoctorDashBoard {
    .sideNav_mainContent_wrapper {
        display: flex;
        justify-content: space-between;

        .sideNav {
            width: 30%;
            position: sticky;
            top: 0;

            h1 {
                font-size: calc($baseRem*1.8);
                color: white;
                padding: calc($baseRem*1.5) 0;
            }

            nav {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                a {
                    margin: calc($baseRem*1.8) 0;
                    padding: calc($baseRem) 0;
                    color: white;
                    font-weight: bolder;

                    &:hover {
                        color: $primaryBlue;
                        text-shadow: .5px .5px 5px white;

                        &:active {
                            color: white;
                        }
                    }
                }
            }
        }

        .main {
            width: 70%;

            h1 {
                font-size: calc($baseRem*1.8);
                color: white;
                padding: calc($baseRem*3.5) 0 calc($baseRem*8) 0;
                text-align: center;
            }
        }
    }
}