// colors 
$primaryBlue: rgb(0, 123, 255);
$primaryBlack: #000000;
$primaryWhite: #ffffff;
$primaryGray: #cfc8c8;
$gray: gray;

// font
$sans_serif_font: sans-serif;

// variables
$baseBorder: .5px;
$border_radius: 5px;
$base_fontSize: 16px;
$smaller_fonts: 10px;
$oparcity_val: 0.9;
$baseRem: 1rem;
$baseContainer: 95%;

// Button mixins
@mixin btn_base_style {
    color: $primaryBlue;
    background: $primaryWhite;
    font-size: calc($smaller_fonts * 1.2);
    border: none;
    border-radius: $border_radius;
}

@mixin btn_base_style_hover {
    background: lighten($color: $primaryBlue, $amount: 10%);
    color: $primaryWhite;
}

@mixin btn_base_style_active {
    background: $primaryWhite;
    color: $primaryBlue;
}

// media Queries funcs
@mixin mediaQuery_min_width($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin mediaQuery_max_width($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}




// ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

// Resets / Containers
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $sans_serif_font;
    border: none !important;

    a {
        text-decoration: none;
    }
}

@keyframes animatOutline {
    from {
        outline: 3px solid darken($color: $primaryBlue, $amount: 5%);
    }

    to {
        outline: 3px solid $primaryBlack;
    }
}

:focus {
    animation: animatOutline 700ms infinite;
    border-radius: 10px;
}

a,
button {
    cursor: pointer;
}

.container {
    width: $baseContainer;
    margin: auto;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    overflow-x: hidden;
    background-color: $primaryBlue  !important;
    height: inherit;
}